body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    /*background-color: red;*/
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100px;
}
h1{
    font-size: 35px;
    color: rgb(101, 24, 18);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
.menu a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(101, 24, 18);
    padding: 4px 12px;
}
.menu a:hover{
    background-color: rgb(101, 24, 18);
    color: white;
}

.principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.foto1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
h2{
    font-size: 35px;
}
p{
    font-size: 25px;
}
.textoprincipal{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    color: whitesmoke;
    background-color: rgb(151,140,138);
    padding-top: 50%;
    text-align: center;
}

.secundario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.foto2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.texto2{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: whitesmoke;
    background-color: rgb(145,150,152);
    padding-top: 30%;
    text-align: center;
}

footer{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    background-color: rgb(71, 13, 2);
    color: whitesmoke;
}